<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Menu</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="activationcodes" class="nav-link">Activation Codes</a>
      </li> 
      <li class="nav-item">
        <a routerLink="activationrequests" class="nav-link">Activation Requests</a>
      </li> 
      <li class="nav-item">
        <a routerLink="licenses" class="nav-link">Licenses</a>
      </li> 
      <li class="nav-item">
        <a routerLink="validationrequests" class="nav-link">Validation Requests</a>
      </li>      
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>