<div class="list row">    
    <div class="col-md-6">
      <h4>Validation Request List</h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Result</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let _element of _listElements; let i = index" [class.active]="i == currentIndex" (click)="setActiveActivationCode(_element, i)">
            <th scope="row"> {{_element.id}}</th>
            <td>{{_element.requestDate}}</td>
            <td>{{_element.validationResult}}</td>           
          </tr>          
        </tbody>
      </table> 
    </div>

    <div class="col-md-6">
      <div *ngIf="currentElement">
        
        <h4>Validation Request Details</h4>
        <div>          
          <div *ngIf="currentElement.validationResult==='Active';else elseBlock" class="alert alert-success"> 
            <strong>Request result:</strong> {{currentElement.validationResult }} 
          </div>
          <ng-template #elseBlock>
            <div class="alert alert-danger" role="alert">
              <strong>Request result:</strong> {{currentElement.validationResult }}
            </div>
          </ng-template>
        </div>
        <div>
            <label><strong>Id:</strong></label> {{ currentElement.id }}
          </div>       
          <div>
            <label><strong>Request Date:</strong></label> {{ currentElement.requestDate }}
          </div> 
      <div>
        <label><strong>Status:</strong></label> {{ currentElement.status }}
      </div>
         
      <div>
          <label><strong>License Code:</strong></label> {{ currentElement.licenseCode }}
        </div>
        
        <br>
        <h4>Activation Configuration Settings</h4>
  
          <div>
              <label><strong>Hardware Id:</strong></label>{{currentElement?.validationSettings?.hardwareId}}  
            </div>   
            <div>
              <label><strong>Email:</strong></label>{{currentElement?.validationSettings?.email}}  
            </div>   
            <div>
              <label><strong>Company:</strong></label>{{currentElement?.validationSettings?.company}}  
            </div>   
            <div>
              <label><strong>Location:</strong></label>{{currentElement?.validationSettings?.location}}  
            </div>   
            <div>
              <label><strong>Customer Code:</strong></label>{{currentElement?.validationSettings?.customerCode}}  
            </div>   
            <div>
              <label><strong>Settings Hash:</strong></label>{{currentElement?.validationSettings?.hashSettings}}             
            </div>                    
            <div *ngIf="currentElement.validationResult==='Invalid'" style="padding-top: 20px;" >               
                <a class="btn btn-secondary btn-lg btn-block" routerLink="/licensecompare">Compare with License</a>              
            </div>
     
      </div>
    </div>



</div>