<div class="list row">    
    <div class="col-md-6">
      <h4>Activation Codes List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let activationCode of activationcodes; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveActivationCode(activationCode, i)"
        >
         {{activationCode.id}}
        </li>
      </ul>  
      
    </div>
    <div class="col-md-6">
      <div *ngIf="currentActivationCode">
        
        <h4>Activation Code Details</h4>
      <div>
        <label><strong>Product Name:</strong></label> {{ currentActivationCode.productName }}
      </div>
      <div>
        <label><strong>Product Code:</strong></label>
        {{ currentActivationCode.productCode }}
      </div>
      <div>
        <label><strong>Guid Code:</strong></label>
        {{ currentActivationCode.guidCode }}
      </div>
      <div>
        <label><strong>License Type:</strong></label>
        {{ currentActivationCode.licenseType }}
      </div>
      <div>
        <label><strong>Lifetime:</strong></label>
        {{ currentActivationCode.lifeTime }}
      </div>

      </div>
    </div>
  </div>
