<div class="list row">    
    <div class="col-md-6">
      <h4>Activation Codes List</h4>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">License Type</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activationCode of activationcodes; let i = index" [class.active]="i == currentIndex" (click)="setActiveActivationCode(activationCode, i)">
            <th scope="row"> {{activationCode.id}}</th>
            <td>{{activationCode.productName}}</td>
            <td>{{activationCode.licenseType}}</td>           
          </tr>          
        </tbody>
      </table> 

    
      
    </div>
    <div class="col-md-6">
      <div *ngIf="currentActivationCode">
        
        <h4>Activation Code Details</h4>
      <div>
        <label><strong>Product Name:</strong></label> {{ currentActivationCode.productName }}
      </div>
      <div>
        <label><strong>Product Code:</strong></label>
        {{ currentActivationCode.productCode }}
      </div>
      <div>
        <label><strong>Guid Code:</strong></label>
        {{ currentActivationCode.guidCode }}
      </div>
      <div>
        <label><strong>License Type:</strong></label>
        {{ currentActivationCode.licenseType }}
      </div>
      <div>
        <label><strong>Lifetime:</strong></label>
        {{ currentActivationCode.lifeTime }}
      </div>

      </div>
    </div>
  </div>
